<nav class="navbar navbar-expand-lg bg-body-tertiary" *ngIf="authService.isAuthenticated()">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
        <!-- Enlace Lista Formulario -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/lista-formulario" routerLinkActive="active">
            Lista Formulario
          </a>
        </li>

        <!-- Enlace Crear Formulario -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/crear-formulario" routerLinkActive="active">
            Crear Formulario
          </a>
        </li>

        <!-- Enlace Beneficios por renovar -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/beneficios-renovar" routerLinkActive="active">
            Beneficios por renovar
          </a>
        </li>
      </ul>

      <!-- Información del usuario y rol alineado a la derecha -->
      <div class="d-flex align-items-center" *ngIf="authService.isAuthenticated()">
        <span class="navbar-text me-3">
          Bienvenidos, {{ authService.usuario?.firstname }} <br> Rol: {{ authService.usuario?.roles?.join(', ') }}
        </span>

        <!-- Menú de usuario (Cerrar Sesión) -->
        <div class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ authService.usuario?.firstname }}
          </a>
        
          <a class="dropdown-item" (click)="logout()">Cerrar Sesión</a>
        </div>
      </div>
    </div>
  </div>
</nav>
