<div class="admin-page">
  <h2 class="title">Administración</h2>
  <div class="admin-options">
    <div class="admin-card" routerLink="/roles" routerLinkActive="active">
      <mat-icon class="icon">manage_accounts</mat-icon>
      <span>Roles</span>
    </div>
    <div class="admin-card" routerLink="/users" routerLinkActive="active">
      <mat-icon class="icon">person</mat-icon>
      <span>Usuarios</span>
    </div>
    <div class="admin-card" routerLink="/permisos" routerLinkActive="active">
      <mat-icon class="icon">lock</mat-icon>
      <span>Permisos</span>
    </div>
    <div class="admin-card" routerLink="/modulos" routerLinkActive="active">
      <mat-icon class="icon">view_module</mat-icon>
      <span>Módulos</span>
    </div>
  </div>
</div>
