<br><br><br>
<div class="container d-flex h-100 justify-content-center align-items-center">
  <div class="card border-primary text-center" id="lateral">
    <div class="card-header"><p [innerHTML]="titulo"></p>
    </div>
    <div class="card-body">

      <form method="post" class="login-form">


        <div class="input-group mb-3">
          <span class="input-group-text" id="username-icon">
            <i class="bi bi-person"></i>
          </span>
          <input
            [(ngModel)]="usuario.email"
            type="text"
            class="form-control"
            name="username"
            id="username"
            placeholder="Documento"
            required
          />
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="password-icon">
            <i class="bi bi-key"></i>
          </span>
          <input
            [(ngModel)]="usuario.password"
            type="password"
            class="form-control"
            name="password"
            id="password"
            placeholder="Contraseña"
            required
          />
        </div>
        <div class="form-group">
          <button
            class="btn btn-primary btn-sm"
            type="submit"
            role="button"
            (click)="login()"
          >
            Iniciar sesión App
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
